{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/new.css' %}">
  <title>Fish Book</title>
  <script src="{% static 'js/classie.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
  <header>
    <a href='{% url "index" %}'><img id="logo" src="{% static 'image/fish-logo.png' %}" alt="logo-image"></a>
    <button id="show-menu">메뉴</button>
    <button id="login" type="submit">로그인 상태</button>
    <input id="search" type="search">
  </header>
  <nav class="menu menu-hide" id="menu">
    <div>
      <h3>Menu</h3>
    </div>
    <a href="#">어종 인식</a>
    <a href='{% url "goFishing" %}'>낚시가는길</a>
    <a href="#">낚시정보</a>
    <a href="#">낚시터</a>
    <a href="#">낚시용품</a>
    <a href="#">커뮤니티</a>
  </nav>
  <section>
    <aside id="left-side"></aside>
    <form id="new-post" method="POST">
      <input id="post-title" type="text" placeholder="제목" autofocus required>
      <input id="post-content" placeholder="내용" required>
      <input id="attachment" type="file">
      <input type="submit" value="확인">
      <input type="reset" value="취소">
    </form>
    <aside id="right-side"></aside>
  </section>
  <footer>
    <address>경기도 수원시 영통구 영통동</address>
  </footer>
</body>
</html>
