{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/show.css' %}">
</head>
<body>
  <section>
    <aside id="left-side"></aside>
    <div class="block">
      <div class="post-title">
        <h3>{{ post.title }}</h3>
      </div>
      <div class="post-content">
        <p>{{ post.content }}</p>
        <a href="{% url 'posts:edit' post.id %}">수정하기</a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          삭제하기
        </button>
    
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">정말 삭제하시겠습니까?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <form  action="{% url 'posts:delete' post.id %}" method="POST">
                  {% csrf_token %}
                  <input type="submit" value="삭제" class="btn">
                </form>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <aside id="right-side"></aside>
  </section>
</body>
{% endblock%}